# ATM

In [72]:
class ATM :
    def __init__(self, name, balance) :
        self.name = name
        self.balance = balance

    def check_balance(self):
        message = f"Account : {self.name}, Balance : {self.balance}"
        print(message)

    def deposit(self, money):
        self.balance += money
        print(f"New Balance: {self.balance}")
        print("Deposit successfully.")

    def change_name(self, new_acc_name):
        self.name = new_acc_name
        print(f"New Name: {self.name}")
        print("Your account name has been change.")

    def withdraw(self, money):
        self.balance -= money
        print(f"New Balance: {self.balance}")
        print("Withdraw successfully.")

    def tranfer(self, money):
        self.balance -= money
        print(f"New Balance: {self.balance}")
        print("Transfer successfully.")

    def OTP(self, OTP) :
        self.message = OTP
        print(f"OTP : {self.message}")
        print("Complete")

    def bill_payment(self, money) :
        self.balance -= money
        print(f"New Balance: {self.balance}")
        print("Bill payment successfully.")

In [73]:
scb = ATM("Karn", 1000)

In [74]:
scb.check_balance()

Account : Karn, Balance : 1000

In [75]:
scb.deposit(900)

New Balance: 1900
Deposit successfully.

In [76]:
scb.balance

1900

In [77]:
scb.change_name("Marry Anne")

New Name: Marry Anne
Your account name has been change.

In [78]:
scb.name

'Marry Anne'

In [79]:
scb.withdraw(500)

New Balance: 1400
Withdraw successfully.

In [80]:
scb.tranfer(200)

New Balance: 1200
Transfer successfully.

In [81]:
scb.OTP(1234)

OTP : 1234
Complete

In [82]:
scb.bill_payment(300)

New Balance: 900
Bill payment successfully.